<div class="skillsdiv row">
  <div class="col-md-4">
    <h3>Technical</h3>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Angular 2.x/1.x</span>
      <span class="sliderheading right">80%</span>
      <input disabled type="range" name="points" id="points" value="80" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">React JS</span>
      <span class="sliderheading right">70%</span>
      <input disabled type="range" name="points" id="points" value="80" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">JavaScript Frameworks</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">HTML5/CSS3</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Node js/Mongodb</span>
      <span class="sliderheading right">70%</span>
      <input disabled type="range" name="points" id="points" value="70" min="0" max="100" data-show-value="true">
    </div>
  </div>
  <div class="col-md-4">
    <h3>Personal</h3>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Communication</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Tech Leadership</span>
      <span class="sliderheading right">85%</span>
      <input disabled type="range" name="points" id="points" value="85" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Team Work</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Creativity</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Dedication</span>
      <span class="sliderheading right">95%</span>
      <input disabled type="range" name="points" id="points" value="95" min="0" max="100" data-show-value="true">
    </div>
  </div>
  <div class="col-md-4">
    <h3>Tools</h3>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">VS Code/Webstorm</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">CI/CD/Jenkins</span>
      <span class="sliderheading right">80%</span>
      <input disabled type="range" name="points" id="points" value="80" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Version Control/Git</span>
      <span class="sliderheading right">80%</span>
      <input disabled type="range" name="points" id="points" value="80" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Browser Developer Tools</span>
      <span class="sliderheading right">90%</span>
      <input disabled type="range" name="points" id="points" value="90" min="0" max="100" data-show-value="true">
    </div>
    <div class="rangeSliderDiv">
      <span class="sliderheading left">Photoshop/Gimp</span>
      <span class="sliderheading right">60%</span>
      <input disabled type="range" name="points" id="points" value="60" min="0" max="100" data-show-value="true">
    </div>
  </div>
</div>
