<section class="myInterests">
  <p class="summary">During my free time, I love to explore new technologies and to contribute technically in any interesting initiatives that comes my way as I believe these are great sources to learn hands on. Currently I try my hands on one of my friends VueJS/Nuxt/Tailwind project, I have also contributed in a startup <a href="https://pertivo.com/" target="_blank">pertivo.com</a>. I tasted a bit of enterprenurship with 'Bhorai' early in my career!
    I love music, photography, long drives and exploring new places as these keeps me fresh and energetic. I think especially visual crafts are handy for a frontend developer as they force you to see the world differently.
  </p>

  <div class="row interestItem no-gutters">
    <div class="col-md-2 ">
      <span class="font30"><i class='fa fa-laptop'></i></span>
      <p>Technology</p>
    </div>
    <div class="col-md-2 ">
      <span class="font30"><i class='fa fa-camera'></i></span>
      <p>Photography</p>
    </div>
    <div class="col-md-2 ">
      <span class="font30"><i class='fa fa-music'></i></span>
      <p>Music</p>
    </div>
    <div class="col-md-2 ">
      <span class="font30"><i class='fa fa-car'></i></span>
      <p>Long Drive</p>
    </div>
    <div class="col-md-2 ">
      <span class="font30"><i class='fa fa-plane'></i></span>
      <p>Travel</p>
    </div>
    <div class="col-md-2 ">
      <span class="font30"><i class='fa fa-users'></i></span>
      <p>Social Work</p>
    </div>
  </div>
</section>
