<div class="profileintro">
  <p>
    Hello! I’m Tarasankar Kundu. Highly motivated, solution-focused technical
    lead with 15+ years of experience specializing in front end design and
    development, delivering optimal results in a competitive environment by
    implementing strategic initiatives that help exceed business targets &
    achieve measurable outcomes. Building & leading a top performing teams,
    coordinating critical initiatives, development cycle for dynamic web
    projects including automating build and deployment.
  </p>
  <div class="btnDiv">
    <button type="button" class="btn btn-default" (click)="downloadCSVFile()">
      Download CV
    </button>
    <a href="#contact"
      ><button type="button" class="btn btn-default">Contact Me</button></a
    >
  </div>
</div>
