
.profileintro{
    background: #fff;
    box-shadow: 3px 5px 2px #f5f5f5;
    padding: 40px 40px 20px;
    text-align: center;
    color: #666766;
    box-shadow: 3px 4px 10px #d4d0d0;
    }
.profileintro p{font-size: 16px}
.btnDiv{
  margin-top:40px;
  border-top: 1px solid #ccc;
  .btn-default{
    border-color: #41b0e5;
    margin-top: 20px;
    margin-right: 10px;
    padding: 6px 45px !important;
    background-color: #41b0e5;
    color: #fff !important;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}
.btn:hover{
  background-color: #00739c !important;
}

@media (max-width : 760px) {
  .profileintro{
    padding: 40px 20px 20px;
  }
}
